<div class="container mt-3">
  <div class="row" *ngIf="product">
    <div class="col-6 mt-0">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100 mt-0">
    </div>
    <div class="col-6 mt-3">
      <h3>{{product.name}}</h3>
      <div class="mt-2">
        <h6>{{product.description}}</h6>
      </div>
      <p style="font-size: 2em;">{{product.price | currency}}</p>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning me-2"
          style="cursor: pointer; font-size: 2em;"></i>
        <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2"
          style="cursor: pointer; font-size: 2em;"></i>
      </div>
      <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg mt-3">Add to Cart</button>
    </div>
  </div>
</div>
