<div class="container py-3">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 mb-3 px-md-4 border-bottom
    bg-white border-bottom shadow-sm fixed-top">

    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase text-dark" style="font-size: larger;">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>
    <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
    <div class="d-flex align-items-center">
      <a href="" class="position-relative">
        <i class="bi bi-cart-dash-fill fa-3x me-4 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <ng-container>
        <a routerLink="/account/login" class="btn btn-outline-secondary me-2" href="#">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary me-3" href="#">Sign up</a>
      </ng-container>
    </div>
  </div>
</div>
